<nav class="navbar padding-vertical padding-left" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img
        src="assets/logo.png"
        width="112"
        height="28"
      />
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="app-footer">
  <div class="has-text-centered">
    <p>
      Powered by <a href="/" class="bulma">Bulma CSS</a> &amp; <a href="/" class="froala">Froala</a>
    </p>
    <p>Made with <i class="fas fa-heart heart"></i> by Animesh, Jaynam &amp; Vatsal</p>
  </div>
</footer>

